// Colors for the site

$orange: rgba(254, 187, 57, 1);
$light-orange: rgba(251, 237, 211, 1);
$grey: rgba(68, 68, 68, 1);
$light-grey: rgba(204, 204, 204, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
