@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import "simple-grid", "colors", "typography";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
.front-padding {
  padding: 10px 0;
}

.about-image-wrapper {
  // width: 100%;
  // height: 300px;
  // overflow: hidden;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.top-image {
  // width: 100%;
  height: 250px;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* 
----------------------------------------------------------
    HEADER
----------------------------------------------------------
*/

.header {
  background-color: $grey;
  height: 40px;
  padding-top: 15px;
}

.header nav {
  float: right;
  padding-top: 10px;
}

.header a {
  color: $white;
  text-decoration: none;
  font-family: $open-sans;
  text-transform: uppercase;
  font-weight: $bold;
  padding: 0 0 10px 10px;
}

.logo {
  float: left;
  font-family: $michroma;
  color: $white;
  font-weight: $regular;
  font-size: 1.5em;
  margin-top: 5px;
  // margin-left: 20px;
}
// FOOTER

.footer {
  background-color: $grey;
  height: 100%;

  color: $white;
}

.copyright {
  text-align: right;
  margin-top: 30px;
}
/*
  FORM STYLE
*/

label {
  font-weight: 600;
}
input[type="text"],
select,
textarea {
  padding: 10px 0 10px 10px;
  margin-bottom: 15px;
  width: calc(100% - 10px);
}

#message {
  height: 150px;
}
#newsletter {
  width: 70%;
  padding: 7px 0;
}

/// Buttons

.next-button {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  background-image: url(../img/next.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  &:hover {
    background-image: url(../img/nexthover.svg);
    // filter: sepia(100%) url(../img/next.svg);
  }
}

.prev-button {
  background-image: url(../img/prev.svg);
  position: absolute;
  top: calc(50% - 20px);
  left: 0;

  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  &:hover {
    background-image: url(../img/prevhover.svg);
    // filter: sepia(100%) url(../img/next.svg);
  }
}
.button,
input[type="button"],
input[type="submit"] {
  background-color: $orange;
  color: $black;
  padding: 9px 0;
  border: none;
  float: right;
  cursor: pointer;
  width: 25%;
}

.read-more-button {
  // display: block;
  float: right;
  text-decoration: none;
  background-color: $orange;
  text-align: center;
  min-width: 100px;
}

// Slider
.slider-front {
  width: 100%;
  height: 300px;
  background-image: url("../img/verticalfarming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  span {
    color: $white;
  }
}

.divider-front-large {
  margin: 0;
  width: 100%;
  height: 100%;
}
.divider-front-small {
  margin: 0;

  height: 35px;
}
.divider-front-large,
.divider-front-small {
  background-color: #444444;
  // margin: 20px 0;
  color: white;

  h2 {
    margin: 0 0 0 15px;
    padding: 15px 0 15px 0;
    // font-size: 1.5em;
    // display: inline-block;
  }
  span {
    padding: 5px 0 0 0;
    display: inline-block;
  }
}

.social-media-text {
  // display: inline-block;
  margin-right: 10px;
}

.social-media-divider {
  margin-right: 10px;
  float: right;
  position: relative;
  p {
    // display: inline-block;
    position: absolute;
    width: 200px;
    right: 100px;
    margin: 0;
    padding: 0;
  }
}

// Contact info
.contact-info {
  background-color: $light-orange;
}
.contact-adress-wrapper {
  h4 {
    margin: 0;
  }
  p {
    line-height: 0.8;
  }
}
.map-image {
  background-image: url("../img/map.jpg");
  width: calc(100% - 10px);
  height: 200px;
  overflow: hidden;
}
.contact-header:before {
  content: "";
  background-image: url("../img/email-icon.svg");
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
}
.find-us-header h4 {
  margin: 0;
}
.find-us-header:before {
  content: "";
  background-image: url("../img/map-icon.svg");
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
}
// ICONS

.facebook-icon {
  background-image: url("../img/facebook-icon.svg");
  background-repeat: no-repeat;

  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.twitter-icon {
  background-image: url("../img/twitter-icon.svg");
  background-repeat: no-repeat;

  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.instagram-icon {
  background-image: url("../img/instagram-icon.svg");
  background-repeat: no-repeat;

  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
